/* Override some defaults */
html, body {
  background-color: #eee;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

/* .tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
} */

/* my own content */

strong {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #fbfbae;
	font-weight: normal;		
}

.content_head{
	color: black;
}

.content_head:hover{
	color: black;
	text-decoration: underline;
}

.content_head:visited{
	color: black;
}

.content_detail_info{
	color: #9C9C9C;
}

.content_body a {
	color: #6493FC;
}

.post p{	
	color: black;	
	   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5em;
}


body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

li {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5em;	
}

.content_tag {
	color: #9C9C9C;
}

.content_tag:hover{
	color: #9C9C9C;
	cursor:pointer;
}

.content_tag:visited{
	color: #9C9C9C;
}

.introduction p{
	line-height: normal;
	color: black;
	font-size: 1.2em;
}

.introduction a {
	color: black;
}

.prev li{
	background-color: green;
}

.prevdisabled {
	background-color: green;
}

.pagecontrol li{
	list-style-type: none;
}

.prev a{
	float: left;
}

.prev_disabled a{
	float:left;
	color: grey;
}

.prev_disabled a:hover{
	text-decoration: none;
}

.next a{
	float: right;
}

.next_disabled a{
	float: right;
	color: grey;
}

.next_disabled a:hover{
	text-decoration: none;
}


.bio a,
.bio a:hover,
.bio a:visited
{
	color: #6493FC;
}

.bio p{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5em;	
}

.tag{
	margin-bottom: 20px;
}

.tag_entry{
	margin-left: 20px;
	margin-bottom: 20px;
}
