<!-- TODO for first page I have to do smth different -->
<div class="page-header">
  	<div class="introduction">
    	<h1>
    		<a href="/"> Georg Kitz</a>
    	</h1>    
  	</div>
	</br>
  	<div class="bio">
  		<p>
  			<a href="/about.html">I'm</a> a software engineer, with a strong focus on 
    		<a href="http://developer.apple.com/ios">iOS</a>.</br> 
        <!-- <a href="/about.html">I'm</a> the guy behind <a href="http://jiffy-app.com">Jiffy</a> and <a href="http://iradio-app.com">iRadio</a>, as well as the co-founder of <a href="http://spartanapp.com">Spartan</a>. -->
        <a href="/about.html">I'm</a> the guy behind <a href="http://iradio-app.com">iRadio</a>, as well as the co-founder of <a href="http://spartanapp.com">Spartan</a>.
    	</p>
  	</div>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
</div>
