<div class="page-header">
  <div class="introduction">
      <h1>
        <a href="/"> Georg Kitz</a>
      </h1>    
    </div>
  </br>
    <div class="bio">
      <p>
        <a href="/about.html">I'm</a> a software engineer, with a strong focus on 
        <a href="http://developer.apple.com/ios">iOS</a>.</br> 
        <!-- <a href="/about.html">I'm</a> the guy behind <a href="http://jiffy-app.com">Jiffy</a> and <a href="http://iradio-app.com">iRadio</a>, as well as the co-founder of <a href="http://spartanapp.com">Spartan</a>. -->
        <a href="/about.html">I'm</a> the guy behind <a href="http://iradio-app.com">iRadio</a>, as well as the co-founder of <a href="http://spartanapp.com">Spartan</a>.
      </p>
    </div>
</div>

<div class="row">
  <div class="span12">
    <h2>
      <a class="content_head" href="{{ BASE_PATH }}{{ post.url }}">{{ page.title }}</a>
    </h2>
    <div>
      <span class="content_detail_info">Post created on {{ page.date | date_to_string }}</span>
      {% for tag in page.tags %} 
        {% if forloop.first %}
           <span class="content_detail_info">can be found in </span>
        {% endif %}
                {% if forloop.last and forloop.length != 1%}
          <span class="content_detail_info">and</span>
        {% endif %}
        <a class="content_tag" href="{{ BASE_PATH }}/tags/{{tag}}">#{{ tag }}</a>
      {% endfor %}
    </div>  
    </br>
    <div class="post">
      {{ content }}
    </div>
    <div style="padding-top:10px;padding-bottom:10px;">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="gekitz">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div style="float:right">
        <a href="https://twitter.com/gekitz" class="twitter-follow-button" data-show-count="false" style="float:right;">Follow @gekitz</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <hr>
    <div class="pagecontrol">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev_disabled"><a>&larr; Previous</a></li>
      {% endif %}
         
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next_disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <div style="clear:both;"></div>
    <hr>
    <!-- {% include JB/comments %} -->
  </div>
</div>
